<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<add key="websitename" value="websoldating.com"/>
		<add key="subtitle" value="Flirt on the web.. for free"/>
		<add key="emailserver" value="mail.webflirt.me"/>
		<add key="dtformat" value="en-029"/>
		<add key="emailport" value="25"/>
		<add key="adminemail" value="aminnagpure@gmail.com"/>
		<add key="emailalerts" value="7"/>
		<add key="autoapprove" value="Y"/>
		<add key="ref1val" value="0.10"/>
		<add key="ref2val" value="0.05"/>
		<add key="affprogram" value="Y"/>
		<add key="s1" value="websoldating.db.3873831.hostedresource.com"/>
		<add key="db" value="websoldating"/>
		<add key="suser" value="websoldating"/>
		<add key="spwd" value="Gandmasti*1234"/>
	</appSettings>
	<connectionStrings>
		<add name="sqlcon" connectionString="Server=websoldating.db.3873831.hostedresource.com;Database=websoldating; User ID=websoldating; Password=Gandmasti*1234; Trusted_Connection=False" providerName="System.Data.SqlClient"/>
		<add name="iptocountry" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=|DataDirectory|ip.mdb" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<system.web>
		<sessionState mode="InProc" cookieless="UseCookies" timeout="25"/>
		<globalization culture="en-029"></globalization>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms name="mainlogon" loginUrl="members/login.aspx">
			</forms>
		</authentication>
		<pages enableEventValidation="false" viewStateEncryptionMode="Never" maxPageStateFieldLength="20"/>
		<customErrors mode="Off"/>
		<!--  The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
          

        <customErrors mode="RemoteOnly" defaultRedirect="err.aspx"/>
         
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
	<location path="members">
		<system.web>
			<authorization>
				<deny users="?"></deny>
			</authorization>
		</system.web>
	</location>
</configuration>
